# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Set up CodeQL        
      uses: github/codeql-action/setup@v2        
      with:          
        languages: csharp  # Specify the language you want to analyze  
    - name: Build the code for CodeQL        
      run: dotnet build  # Ensure the code is built for analysis  
    - name: Run CodeQL        
      uses: github/codeql-action/analyze@v2        
      with:          
       category: 'security'  # Specify the category for results 
